<!-- <p id="notice"><%= notice %></p> -->

<%= @tardy.parent_name %><br>
<%= @tardy.parent_address %><br>
Houston, Texas. 77022<br>
<br>
Dear <%= @tardy.parent_name %>,<br>
<br>
This letter is to inform you of <%= @tardy.studen_first_name %> <%= @tardy.student_last_name %>, has exceeded 3 tardies this grading cycle. Herrera Elementary School instructional time promptly begins at 7:45am. Shown below is a summary of the dates Student Name has been tardy.<br>
<br>
<%= @tardy.tardy_days %><br>
<br>
<%= @tardy.studen_first_name %> must show marked improvement next grading cycle, so we encourage you to arrive on time. Help us to insure that <%= @tardy.studen_first_name %> receives a quality education by arriving to school <b>by 7:45 DAILY</b>. If you have any questions or concerns, please do not hesitate to contact Ms. Mandy Gutierrez at 713-696-2800.<br>
<br>
Best,<br>
Mandy Gutierrez M.Ed. <br>
Herrera Elementary School <br>
Assistant Principal<br>

<br>
<br>
<br>

